body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: 	;
  overflow: hidden;
}
svg {
  width: 90vw;
  height: 90vh;
}
path {
  fill: #E6E6FA;
  cursor: pointer;
}
path:hover {
  fill: red;
}